
build*/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
nbproject/*
.idea/*
.browse.VC*
.vscode
cmake-build-*/
.vs
*.user
docker/configs/*.conf
docker/data/*
!docker/data/.gitkeep
docker/logs/*
!docker/logs/.gitkeep
docker/mysql/data/*
docker/downloads/*
!docker/downloads/.gitkeep
docker/client/*
!docker/client/.gitkeep
docker/build-cache/*
